
div.register-form
	{
	padding:5%;
	margin-top:10vh;
	margin-left:15%;
	margin-right:15%;
	font-size:1.5rem;
	border-radius:1vw;
	box-shadow:0 0 1vw  #cba;
	
	}
	

table,tr
	{
	width:100%;

	}
input:hover
	{
	border:none;
	}

td.inp
	{
	width:80%;
	padding:2% 1%;
	color:gray;
	font-size:1.2rem;
	display:inline-block;
	}
.btnme
	{
	
	margin-top:1vw;
	color:#ffd;
	background-color:#77a;
	font-size:1.3rem;
	border:none;
	padding:1%;
	box-shadow:0 0 .5vw  #aaa inset;
	}
.btnme:hover
		{
		background-color:#aad;
		box-shadow:0 0 2vw  #77a inset;
		}
@media only screen and (min-width:1200px) 
	{
	td.lbl
		{
		font-size:1.5rem;
		text-align:right;
		padding:2% 1%;
		color:gray;
		width:150px;
		display:inline-block;
		
		}
.btnme
	{
	float:left;
	width:15vw;
	margin-left:5vw;
	}
	}
@media only screen and (max-width: 1300px) 
	{
	div.register-form
		{
		margin-top:5vh;
		margin-left:10%;
		margin-right:10%;
		}
	td.lbl
		{
		text-align:left;
		border:none;
		margin-bottom:3%;
		margin-top:6%;
		color:gray;
		width:100%;
		display:inline-block;
		}

	}
*
	{
	box-sizing:border-box;
	}
	
input.inp-others
	{
	border:none;
	font-size:1.2rem;
	width:95%;
	border-bottom:solid;
	border-color:#bba;
	}
@media only screen and (min-width:1000px) {
input.inp-name
	{
	border:none;
	font-size:1.2rem;
	margin-right:1vw;
	width:calc(47% - .5vw);
	border-bottom:solid;
	border-color:#bba;
	}
.btnme
		{
		float:right;
		width:15vw;
		margin-right:5vw;
		}
	}
@media only screen and (max-width:1100px) {
input.inp-name
	{
	border:none;
	font-size:1.2rem;
	margin-top:2vw;
	margin-right:2vw;
	width:95%;
	border-bottom:solid;
	border-color:#bba;
	}
.btnme
	{
	margin:2vw;
	width:65vw;
	}
	}
input.inp-rad
	{

	border:none;
	font-size:1.2rem;
	margin-left:2vw;	
	}	